html {
    font-family: 'Open Sans', sans-serif;
    background: #f5f5f5;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 80%;
    position: relative;
    margin: 0 auto;
}

.gh-button:nth-child(1) {
    width: 93px;
}

.gh-button {
    width: 100px;
}

.gh-follow-button {
    margin-left: -4px;
}

header {
    text-align: center;
    width: 100%;
    background: #44A2C0;
    float: left;
    position: relative;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
}

header h1 {
    font-size: 90px;
    color: white;
    text-shadow: 0px 8px 0 rgba(0, 0, 0, 0.15);
    margin: 0;
    padding: 30px 0;
}

header small {
    font-size: 30px;
    margin-top: -20px;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 50px;
    color: #2D7896;
    border-bottom: 10px solid rgba(255, 255, 255, 0.08);
    box-shadow: 0px 2px rgba(0, 0, 0, 0.04);
}

.social {
    text-align: center;
    width: 100%;
    background: #1A7594;
    float: left;
}

.github {
    padding-top: 20px;
    margin: 0 auto;
}

.share {
    margin: 0 auto;
    padding-bottom: 20px;
    padding-top: 15px;
}

.welcome {
    width: 100%;
    padding: 30px 0;
    background: #2E2E2E;
    float: left;
    position: relative;
    box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.12);
}

.welcome h1 {
    color: #44A2C0;
    font-size: 40px;
    margin: 0;
}

.welcome p {
    color: #FFF;
    margin: 0;
    padding-top: 20px;
}

.main {
    width: 100%;
    padding: 30px 0;
    background: #F7F169;
    float: left;
}

.main h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    color: #FFF;
    text-shadow: 2px 3px 0px rgba(0, 0, 0, 0.11);
    margin: 0;
}

.main ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main ul li {
    padding: 10px 0;
}

.main ul li a {
    text-decoration: none;
    font-size: 24px;
    color: #000;
    border-bottom: 3px solid transparent;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.main ul li a:hover {
    border-bottom: 3px solid #FFF;
}

.section {
    float: left;
    width: 100%;
    padding: 30px 0;
    background: #44A2C0;
    color: #FFF;
}

.section h1 {
    font-size: 40px;
    text-align: center;
    text-shadow: 1px 4px 2px rgba(0, 0, 0, 0.16);
    margin: 0;
    text-transform: uppercase;
}

.section h3 {
    border-bottom: 3px solid rgba(0, 0, 0, 0.08);
    display: inline-block;
    text-transform: uppercase;
    clear: both;
    float: left;
}

.section h4 {
    float: left;
    clear: both;
    margin: 0;
    margin-bottom: 15px;
    color: #000;
    font-size: 20px;
    text-align: center;
}

.section ul {
    clear: both;
    margin: 0;
    padding: 0 20px;
}

.section p {
    background: #FFF;
    color: #696969;
    padding: 20px;
    box-shadow: 0px 3px rgba(0, 0, 0, 0.08);
    float: left;
    clear: both;
}

.section p a,
.txt a {
    color: #FF8484;
    text-decoration: none;
}

.section p a:hover,
.txt a:hover {
    text-decoration: underline;
}

#getting-started {
    background: #877399;
}

#js-code-style {
    background: #48C383;
}

#the-good-parts {
    background: #C35C48;    
}

#patterns {
    background: #7BC044;
}

#testing-tools {
    background: #FFC56F;
}

#testing-tools .source a {
    color: #000;
}

#frameworks {
    background: #178892;
}

#frameworks .source a {
    color: #FFF849;
}

#reading {
    background: #7C84BE;
}

#reading .source a {
    color: #FFE55A;
}

#whotofollow {
    background: #44C0AC;
}

#paas {
    background: #C04484;
}

#paas .link a {
    color: #FFF;
}

#helpers .helpers-container {
    text-align: center;
    display: table;
    margin: 0px auto;
    width: 90%;
}

#helpers a {
    display: table-cell;
    vertical-align: middle;
    margin: 0 40px;
}

#helpers a:hover img {
    opacity: 1;
}

#helpers a img {
    width: 80%;
    max-width: 110px;
    margin-left: 30%;
    height: auto;
    opacity: 0.5;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.source {
    color: #FFF !important;
    margin-top: -16px;
    background: rgba(0, 0, 0, 0.09) !important;
    box-shadow: none !important;
}

.txt {
    background: #FFF;
    color: #696969;
    padding: 20px;
    box-shadow: 0px 3px rgba(0, 0, 0, 0.08);
    clear: both;
    margin: 1em auto;
}

.links-container {
    float: left;
    display: inline-block;
    clear: both;
    margin-top: 15px;
}

.links-container .link {
    float: none !important;
    clear: none !important;
    display: inline-block;
    margin-right: 15px;
}

.link:hover {
    box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.18) !important;
}

.link a:hover {
    text-decoration: none !important;
}

.users {
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 25px;
}

.user {
    width: 80px;
    height: 160px;
    display: inline-block;
    margin: 0 50px;
}

.user a {
    color: #FFF;
}

.user a:hover img {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.user img {
    border-radius: 50%;
    max-width: 80px;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.user span {
    width: 100%;
    width: 100%;
    float: left;
    clear: both;
}

#footer {
    background: #505050;
    box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.15);
    padding-top: 60px;
    padding-bottom: 30px;
}

#footer .bio img {
    width: 100px;
    border-radius: 50%;
    float: left;
    position: relative;
}

#footer .bio a {
    color: #FFF;
    text-decoration: none;
    text-align: center;
    clear: both;
}

#footer .bio p {
    float: right;
    margin-top: -100px;
    margin-right: 40px;
    height: 60px;
    line-height: 30px;
}

#footer .bio p a {
    color: #FF0B0B;
    font-weight: bold;
}

#footer .bio b {
    display: inline-block;
    margin-top: 35px;
    float: left;
    margin-left: -10px;
    background-color: #292929;
    padding: 5px 10px 5px 20px;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#footer .bio a:hover b {
    color: #292929;
    background-color: #FFF;
}

#footer .bio a:hover img {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

#footer h3 {
    text-align: center;
    display: inline-block;
}

#footer hr {
    width: 100%;
    float: left;
    margin-top: 80px;
    border-color: #666;
}

#footer .source {
    width: 100%;
    float: left;
    clear: both;
    text-align: center;
}

.contributors {
    width: 100%;
    clear: both;
    float: left;
    padding-top: 50px;
}

.contributors p {
    text-align: center;
    float: none;
    width: 65%;
    margin: 20px auto;
}

iframe[id^="oauth2relay"]{
  position: fixed !important;
}
@media only screen and (max-width: 530px) {

   header h1 {
        font-size: 50px;
    }
   .section h1 {
        font-size: 20px;
    }

}