<h3>Условные обозначения</h3>

<p>
    Как любой другой язык, JavaScript имеет множество стилей кодирования. Возможно самый используемый и рекомендуемый это <a target="_blank" href="https://google.github.io/styleguide/javascriptguide.xml">Руководство по оформлению Javascript кода от Google Code</a>, но мы рекомендуем ознакомиться с <a target="_blank" href="https://github.com/rwldrn/idiomatic.js/">Idiomatic.js</a>.
</p>

<h3>Валидация кода</h3>

<p>
    На сегодняшний день лучшим инструментом для статической валидации Javascript кода является <a target="_blank" href="http://www.jshint.com/">JSHint</a>. Мы рекомендуем всегда, когда возможно, использовать валидаторы (линтеры) для проверки вашего кода и правил оформления.
</p>
