<h3>Объектно ориентированный</h3>

<p>
    Javascript имеет сильные объектно-ориентированные возможности. Несмотря на некоторые споры которые имеют место вокруг различий ООП в javascript по сравнению с другими языками.
</p>

<p class="source">
    Подробнее: <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Introduction_to_Object-Oriented_JavaScript">Введение в объектно-ориентированный JavaScript</a>
</p>

<h3>Анонимные функции</h3>

<p>
    Анонимные функции - функции которые динамически объявляются в процессе выполнения. Они называются анонимными потому, что они не именуются в отличии от обычных функций.
</p>

<p class="source">
    Подробнее: <a target="_blank" href="http://helephant.com/2008/08/23/javascript-anonymous-functions/">Анонимные функции в JavaScript</a>
</p>

<h3>Функции как объекты первого класса</h3>

<p>
  Функции в Javascript - объекты первого класса. Это означает что функции это особый класс объектов, которые могут делать все тоже самое что могут делать обычные объекты.
</p>

<p class="source">
    Подробнее: <a target="_blank" href="http://helephant.com/2008/08/19/functions-are-first-class-objects-in-javascript/">Функции как объекты первого класса в JavaScript</a>
</p>

<h3>Нестрогая типизация</h3>

<p>
    Для многих фронтенд разработчиков Javascript был первым опытом в скриптовых/интерпретируемых языках. Для этих разработчиков принцип и реализация нестрогой типизации может быть само собой разумеещимся.
    Однако взрывной рост популярности современных веб-приложений приводит к тому, что все большее число бэкенд разработчиков вынуждено погружаться в мир клиентских технологий. Многие из этих разработчиков приходят с опытом работы с типизироваными языками вроде C# или Java, и им кажутся странными как вольности допускаемые нестрогой типизацией, так и подводные камни, которые она в себе скрывает.
</p>

<p class="source">
    Подробнее: <a target="_blank" href="http://blog.jeremymartin.name/2008/03/understanding-loose-typing-in.html">Понимание нестрогой типизации в JavaScript</a>
</p>

<h3>Область видимости и всплытие определений</h3>

<p>
    <b>Область видимости:</b> В JavaScript, функции <i>по-факту</i> являются ограничениями области видимости при объявлении переменных.
    Это означает, что обычные блоки из циклов и условных выражений (такие как if, for, while, switch и try) НЕ ОГРАНИЧИВАЮТ область видимости, в отличии от большинства языков. Так что эти блоки имеют ту же самую область видимости, что и функции в которых они используются. Таким образом нужно быть внимательнее, объявляя переменные внутри блоков, так как может показаться, что переменные доступны только внутри блока (а это не так).
</p>

<p>
    <b>"Всплытие":</b> При выполнении все объявления переменных var и функций перемещаются в начало функции (перед ее "телом"). Это называется "всплытием"(hoisting). Так что хорошей практикой является объявление переменных в начале функции, чтобы явно задать область видимости и избежать двусмысленности, что возможно при объявлении переменных/функций ниже по коду. Это общая проблема для программистов, которые раньше писали на языках с блочной областью видимости.
    Это поведение получило корректировки в новом стандарте (ES6/ES2015 - почитайте про let/const).
</p>

<p class="source">
    Подробнее: <a target="_blank" href="http://www.adequatelygood.com/JavaScript-Scoping-and-Hoisting.html">JavaScript - про всплытие и область видимости</a>
</p>

<h3>Контекст выполнения</h3>

<p>
    Контекст выполнения - это наименьшая из ваших проблем, когда вы начинаете работать с Javascript. Но однажды вы понимаете, что решение проблемы, которая у вас есть, заключается в вызове другой функции с сохранением текущего контекста. И вот в этот момент вы поймете, что <b>Function.prototype.bind()</b> - это то, что вам нужно. А еще вы можете почитать про "стрелочные функции" из нового стандарта Javascript.
</p>

<p class="source">
    Подробнее: <a target="_blank" href="http://coding.smashingmagazine.com/2014/01/23/understanding-javascript-function-prototype-bind/">Что такое Function.prototype.bind в JavaScript</a>
</p>

<h3>Замыкания</h3>

<p>
  Замыкания - это функции, которые ссылкаются на переменные вне себя. Другими словами функции посредством замыкания получают доступ к переменным, которые доступны в месте объявления функции.
  Очень важно это понимать, так как это часто используется при разработке, пример для эмуляции приватных методов. Это так же будет полезно, чтобы избежать частых ошибок, например создание замыканий в циклах.
 </p>

<p class="source">
    Подробнее: <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Closures/">MDN - Замыкания</a>
</p>

<h3>Строгий режим</h3>

<p>
    Строгий режим из 5-й редакции ECMAScript - это способ органичить возможности Javascript. Строгий режим - не просто подмножество, он намеренно ограничивает возможности вашего кода. Браузеры с поддержкой строгого режима и без нее будут обрабатывать ваш код по-разному, так что не стоит рассчитывать на строгий режим без соответствующего тестирования вашего кода в обоих случаях. Строгий и нестрогий режимы могут сосуществовать (например строгий режим может распространяться на отдельные функции), так что переписывать свой код под строгий режим можно постепенно.
 </p>

<p class="source">
    Подробнее: <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions_and_function_scope/Strict_mode/">MDN - Строгий режим</a>
</p>

<h3>Самовызывающиеся функции (IIFE)</h3>

<p>
  Самовызывающиеся функции - это подход, который позволяет создать лексическое окружение использую функциональную область видимости в Javascript. Самовызывающиеся функции могут быть использованы, чтобы избежать всплытия переменных за пределы блока, предотвратить загрязнение глобальной области видимости и обеспечить доступ к публичным методам сохряняя недоступность данных, которые объявлены внутри функции.<br/><br/>
   <i>Этот подход основывается на самовызывающихся анонимных функциях, но <a target="_blank" href="http://twitter.com/cowboy">@cowboy</a> (Ben Alman) ввел понятие IIFE как более семантически-верное для обозначения этого шаблона</i>.
</p>

<p class="source">
    Подробнее: <a target="_blank" href="http://benalman.com/news/2010/11/immediately-invoked-function-expression/">Немедленно вызываемыми функциональные выражения (IIFE)</a>
</p>
