
                <h3>Описание</h3>

                <p>
                    Javascript содержит достаточное колличество шаблонов, специфических для языка. Однако так же могут быть использованы многие классические шаблоны проектирования.
                </p>

                <p>
                    Хорошим способом с этим разобраться будет чтение книги <a target="_blank" href="https://twitter.com/addyosmani">Addy Osmani</a> <a target="_blank" href="http://addyosmani.com/resources/essentialjsdesignpatterns/book/">Learning JavaScript Design Patterns (Изучение Шаблонов Проектирования Javascript)</a>, и ссылок ниже, которые частично взяты из книги.
                </p>

                <h3>Шаблоны проектирования</h3>

                <section class="txt">
                    <ul>
                        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#factorypatternjavascript'>Фабрика</a></li>
                        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#prototypepatternjavascript'>Прототип</a></li>
                        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#mixinpatternjavascript'>Примесь</a></li>
                        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#singletonpatternjavascript'>Синглтон</a></li>
                    </ul>
                </section>

                <p class="source">
                    Порождающие шаблоны
                </p>

                <section class="txt">
                    <ul>
                        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#wrapperpatternjquery'>Адаптер</a></li>
                        <li><a target="_blank" href='http://www.joezimjs.com/javascript/javascript-design-patterns-bridge/'>Мост</a></li>
                        <li><a target="_blank" href='http://www.joezimjs.com/javascript/javascript-design-patterns-composite/'>Композиция</a></li>
                        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#decoratorpatternjavascript'>Декоратор</a></li>
                        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#facadepatternjavascript'>Фасад</a></li>
                        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#detailflyweight'>Приспособленец</a></li>
                        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#modulepatternjavascript'>Модуль</a></li>
                        <li><a target="_blank" href='http://www.joezimjs.com/javascript/javascript-design-patterns-proxy/'>Прокси</a></li>
                        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#revealingmodulepatternjavascript'>Открытый модуль</a></li>
                    </ul>
                </section>

                <p class="source">
                    Структурные шаблоны
                </p>

                <section class="txt">
                    <ul>
                        <li><a target="_blank" href='http://www.joezimjs.com/javascript/javascript-design-patterns-chain-of-responsibility/'>Цепочка обязанностей</a></li>
                        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#commandpatternjavascript'>Команда</a></li>
                        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#mediatorpatternjavascript'>Посредник</a></li>
                        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#observerpatternjavascript'>Наблюдатель</a></li>
                    </ul>
                </section>

                <p class="source">
                    Поведенческие шаблоны
                </p>

                <h3>Шаблоны MV*</h3>

                <section class="txt">
                   Есть несколько реализаций традиционного MVC паттерна и его вариаций в Javascript.
                </section>

                <section class="txt">
                    <ul>
                        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#detailmvc'>Шаблон MVC</a></li>
                        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#detailmvp'>Шаблон MVP</a></li>
                        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#detailmvvm'>Шаблон MVVM</a></li>
                    </ul>
                </section>
