<h1>Привет!</h1>

<p>
  Это руководство призвано ввести в курс новичков в  Javascript и помочь опытным разработчикам больше узнать и лучших практиках и подходах.
</p>

<p>
  Несмотря на название, это руководство не обязательно означает "Единственно верный" способ работать с JavaScript.
</p>

<p>
  Просто мы решили собрать все статьи, советы и секреты от ведущих разработчиков в одном месте. Так как мы говорим о выдающихся людях, мы можем сказачать что это "правильный путь", или лучший способ делать подобные вещи.
</p>
