<h3>درباره</h3>

<p>
    جاوااسکریپت در سال ۱۹۹۵ توسط نت‌اسکیپ (Netscape) جهت گسترش HTML برای Netscape Navigator 2.0 ایجاد شده است، جاوااسکریپت به عنوان عملکرد اصلی به کار گیری documents در HTML و همچنین اعتبار سنجی فرم بود.

    جاوااسکریپت را در ابتدا آقای برندان ایچ (Brendan Eich) در شرکت نت‌اسکیپ با نام Mocha طراحی نمود. این نام بعدا در نسخه بتا به LiveScript و نهایتاً به جاوااسکریپت تغییر یافت.

    علیرغم اشتباه عمومی، زبان جاوا اسکریت با زبان جاوا متفاوت است، اگر چه هر دو زبان برنامه‌نویسی هستند.


</p>

<h3>نسخه کنونی</h3>

<p>
    استاندارد جاوااسکریپت اکمااسکریپت (ECMAScript) است که از سال ۲۰۱۲ تمامی مرورگر‌های مدرن استاندارد اکمااسکریپت نسخه ۵.۱ را به صورت کامل پشتیبانی می‌کنند، همچنین مرورگر‌های قدیمی‌تر نسخه ۳ از اکمااسکریپت را پشتیبانی می‌کنند. از ماه June سال ۲۰۱۵ اکمااسکریپت ۶ (ES6) یا همان اکمااسکریپت ۲۰۱۵ (ES2015) مورد قبول واقع شده است.توضیحات تکمیلی در مورد اکمااسکریپت ۶ را می توانید در <a target="_blank" href="http://www.ecma-international.org/ecma-262/6.0/index.html">Ecma International</a> مشاهده نمایید.
</p>

<p>
    <a target="_blank" href="https://developer.mozilla.org/en-US/docs/JavaScript">Mozilla Developer Network</a>مرجع خوبی برای نسخه‌ها، منابع و اخبار جاوااسکریپت می‌باشد.
</p>

<h3>DOM</h3>

<p>
    مدل شیءگرای سند یا دام (DOM - Document Object Model) یک API برای HTML و XHTML می باشد که قابلیت تغییرات محتوا را فراهم می‌کند. توضیحات بیشتر در <a target="_blank" href="https://developer.mozilla.org/en-US/docs/DOM">Mozilla Developer Network - DOM</a> می‌باشد.
</p>
