<h3>關於</h3>

<p>
    由 Netscape 於1995年為了 Netscape Navigator 針對 HTML 所開發的擴充套件，JavaScript 主要的功能為操作 HTML 文件及表單驗證。

    在贏得今日的廣為人知的名字前，JavaScript 原名為 Mocha。在它發布第一次測試版時，官方將它命名為 LiveScript，最後在 Sun Microsystems 公布發行版時，被重新命名為今日廣為人知的名字。

    由於 JavaScript 名字相近於 Java，所以常讓人搞混。雖然兩者在名字組成上有部分相同，但並不是相同的語言。

    不同於 C、C# 及 Java，JavaScript 是直譯式語言。這意味者它需要一個“直譯器“。就 JavaScript 而言，瀏覽器就是它的直譯器。
</p>

<h3>最新版本</h3>

<p>
    ECMAScript 是 JavaScript 的準則。截至2012年止，所有最新流行的瀏覽器都可以支援 ECMAScript 5.1。舊的瀏覽器至少會支援 ECMAScript 3。2015年6月 ES6/ES2015 準則已完成。前往閱讀 ECMAScript 2015 準則 <a target="_blank" href="http://www.ecma-international.org/ecma-262/6.0/index.html">Ecma International</a>.
</p>

<p>
    JavaScript 的最佳參考版本、參考資料及最新消息可以前往 <a target="_blank" href="https://developer.mozilla.org/zh-TW/docs/Web/JavaScript">Mozilla Developer Network</a>.
</p>

<h3>DOM</h3>

<p>
    Document Object Model (DOM) 是 HTML 及 XML 文檔的 API。它提供了文件的結構化呈現，讓你可以使用腳本語言（如 JavaScript）來更改它的內容及視覺呈現。其他更詳盡的內容 <a target="_blank" href="https://developer.mozilla.org/zh-TW/docs/Gecko_DOM_Reference">Mozilla Developer Network - 文件物件模型（DOM）</a>.
</p>
