<h3>Convenciones</h3>

<p>
    Como todo lenguaje, JavaScript tiene muchas guías de estilo. Quizas la más usada y recomendada es la <a target="_blank" href="http://google-styleguide.googlecode.com/svn/trunk/javascriptguide.xml">Guía de Estilo de Google para JavaScript</a>, pero nosotros te recomendamos leer <a target="_blank" href="https://github.com/rwldrn/idiomatic.js/">Idiomatic.js</a>.
</p>

<h3>Linting</h3>

<p>
    Actualmente la mejor herramienta para realizar linting (análisis) del código en JavaScript es <a target="_blank" href="http://www.jshint.com/">JSHint</a>. Nosotros recomendamos que siempre que sea posible se verifique el estilo y los patrones del código con una herramienta de análisis del código.
</p>
