
                <h3>Descripción</h3>

                <p>
                    Mientras JavaScript contiene patrones de diseño que son exclusivos para el lenguaje, muchos patrones de diseño de otros lenguajes pueden ser también implementados.
                </p>

                <p>
                    Una buena forma de aprender acerca de estos patrones es el libro de <a target="_blank" href="https://twitter.com/addyosmani">Addy Osmani</a> de código abierto <a target="_blank" href="http://addyosmani.com/resources/essentialjsdesignpatterns/book/">Aprender Patrones de Diseño en JavaScript</a>. Los enlaces referenciados son (en su mayoría) basados en este.
                </p>

                <h3>Patrones de Diseño</h3>

                <section class="txt">
                    <ul>
                        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#factorypatternjavascript'>Factory (Fabrica)</a></li>
                        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#prototypepatternjavascript'>Prototype (Prototipo)</a></li>
                        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#mixinpatternjavascript'>Mixin</a></li>
                        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#singletonpatternjavascript'>Singleton (Instancia única)</a></li>
                    </ul>
                </section>

                <p class="source">
                    Patrones de Diseño Creacionales
                </p>

                <section class="txt">
                    <ul>
                        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#wrapperpatternjquery'>Adapter (Adaptador)</a></li>
                        <li><a target="_blank" href='http://www.joezimjs.com/javascript/javascript-design-patterns-bridge/'>Bridge (Puente)</a></li>
                        <li><a target="_blank" href='http://www.joezimjs.com/javascript/javascript-design-patterns-composite/'>Composite (Compuesto)</a></li>
                        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#decoratorpatternjavascript'>Decorator (Decorador)</a></li>
                        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#facadepatternjavascript'>Facade (Fachada)</a></li>
                        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#detailflyweight'>Flyweight (Objeto ligero)</a></li>
                        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#modulepatternjavascript'>Module (Módulo)</a></li>
                        <li><a target="_blank" href='http://www.joezimjs.com/javascript/javascript-design-patterns-proxy/'>Proxy</a></li>
                        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#revealingmodulepatternjavascript'>Revealing Module (Revelación del Módulo)</a></li>
                    </ul>
                </section>

                <p class="source">
                    Patrones de Diseno Estructural
                </p>

                <section class="txt">
                    <ul>
                        <li><a target="_blank" href='http://www.joezimjs.com/javascript/javascript-design-patterns-chain-of-responsibility/'>Chain of Responsibility (Cadena de Responsabilidad)</a></li>
                        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#commandpatternjavascript'>Command (Comando)</a></li>
                        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#mediatorpatternjavascript'>Mediator (Mediador)</a></li>
                        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#observerpatternjavascript'>Observer (Observador)</a></li>
                    </ul>
                </section>

                <p class="source">
                    Patrones de Diseno de Comportamiento
                </p>

                <h3>Patrones MV*</h3>

                <section class="txt">
                    Existen algunas implementaciones del tradicional patron MVC y sus variaciones en JavaScript.
                </section>

                <section class="txt">
                    <ul>
                        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#detailmvc'>Patrón MVC</a></li>
                        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#detailmvp'>Patrón MVP</a></li>
                        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#detailmvvm'>Patrón MVVM</a></li>
                    </ul>
                </section>
