<h1>Oye, tú!</h1>

<p>
    Esta es una guía que busca introducir a nuevos desarrolladores en JavaScript y que busca también que los desarrolladores más experimentados conozcan un poco más sobre las mejores prácticas.
</p>

<p>
    A pesar del nombre de esta guía, no significa que sea necesariamente "la única forma" para realizar JavaScript.
</p>

<p>
    Nosotros solo hemos reunidos todos los artículos, consejos, y trucos de los principales desarrolladores y colocado aquí. Ya que viene de personas excepcionales, nosotros podemos decir que esta es la "la forma correcta", la mejor forma de escribir código en JavaScript.
</p>
