<h1>Oye, tú!</h1>

<p>
    Esta es una guía que intenta introducir a nuevos desarrolladores en y ayudar a aprender más a los desarrolladores experimentados acerca de sus mejores prácticas.
</p>

<p>
    A pesar del nombre, de esta guía no significa necesariamente "la única forma" para realizar JavaScript.
</p>

<p>
    Nosotros solo hemos reunidos todos los artículos, consejos, y trucos delos principales desarrolladores y colocado aquí. Ya que viene de personas excepcionales, nosotros podemos decir que esta es la "la forma correcta", o la mejor forma de hacer.
</p>
