<h3>关于</h3>

<p>
    由网景公司在 1995 年给网景浏览器2.0创建的一个当做 HTML 扩展，JavaScript 最初主要的功能就是操作 HTML 文档和表单验证。 在取得这么大的名声之前，JavaScript 被叫做 Mocha，当它第一次发布 beta 版本时它的官方名字是 LiveScript，当被 Sun Microsystems 发布时，被称作这个名字一直到今天。 由于相似的名字，人们老是把 JavaScript 和 Java搞混。虽然两者都有编程的语法结构，但是他们是不同的语言。 和C、C#、Java不同， JavaScript 是一个静态语言，也就是说他需要一个“解释器”，JavaScript的解释器就是浏览器。
</p>

<h3>最新版本</h3>

<p>
    ECMAScript 是 JavaScript 的标准。截至2012年止，所有最新流行的浏览器都可以支持 ECMAScript 5.1。老的浏览器至少会支持 ECMAScript 3。2015年6月 ES6/ES2015 规范已完成。前往阅读 ECMAScript 2015 规范 <a target="_blank" href="http://www.ecma-international.org/ecma-262/6.0/index.html">Ecma International</a>.
</p>

<p>
    JavaScript 的最佳參考版本、參考资料及最新消息可以前往 <a target="_blank" href="https://developer.mozilla.org/zh-TW/docs/Web/JavaScript">Mozilla Developer Network</a>.
</p>

<h3>DOM</h3>

<p>
    Document Object Model (DOM) 是 HTML 及 XML 文档的 API。它提供了文件的结构化展现，让你可以使用脚本语言（如 JavaScript）來更改它的內容及视觉展现。其他更详细的內容 <a target="_blank" href="https://developer.mozilla.org/zh-TW/docs/Gecko_DOM_Reference">Mozilla Developer Network - 文件对象模型（DOM）</a>.
</p>
