
                <h3>说明</h3>

                <p>
                    虽然 JavaScript 包含了自身语言独有的设计模式，但许多经典的设计模式仍然可以借鉴。

                </p>

                <p>
                    <a target="_blank" href="https://twitter.com/addyosmani">Addy Osmani</a> 的开源书 <a target="_blank" href="http://addyosmani.com/resources/essentialjsdesignpatterns/book/">Learning JavaScript Design Patterns</a> 是很好的学习资料，下面大多数的链接都出自本书。
                </p>

                <h3>设计模式</h3>

                <section class="txt">
                    <ul>
                        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#factorypatternjavascript'>工厂模式（Factory）</a></li>
                        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#prototypepatternjavascript'>原型模式（Prototype）</a></li>
                        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#mixinpatternjavascript'>混合模式（Mixin）</a></li>
                        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#singletonpatternjavascript'>单例模式（Singleton）</a></li>
                    </ul>
                </section>

                <p class="source">
                    创建型设计模式
                </p>

                <section class="txt">
                    <ul>
                        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#wrapperpatternjquery'>适配器模式（Adapter）</a></li>
                        <li><a target="_blank" href='http://www.joezimjs.com/javascript/javascript-design-patterns-bridge/'>桥接模式（Bridge）</a></li>
                        <li><a target="_blank" href='http://www.joezimjs.com/javascript/javascript-design-patterns-composite/'>組合模式（Composite）</a></li>
                        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#decoratorpatternjavascript'>装饰者模式（Decorator）</a></li>
                        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#facadepatternjavascript'>外观模式（Facade）</a></li>
                        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#detailflyweight'>享元模式（Flyweight）</a></li>
                        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#modulepatternjavascript'>模块模式（Module）</a></li>
                        <li><a target="_blank" href='http://www.joezimjs.com/javascript/javascript-design-patterns-proxy/'>代理模式（Proxy）</a></li>
                        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#revealingmodulepatternjavascript'>透露模式（Revealing Module）</a></li>
                    </ul>
                </section>

                <p class="source">
                    结构性设计模式
                </p>

                <section class="txt">
                    <ul>
                        <li><a target="_blank" href='http://www.joezimjs.com/javascript/javascript-design-patterns-chain-of-responsibility/'>职责链模式（Chain of Responsibility）</a></li>
                        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#commandpatternjavascript'>命令模式（Command）</a></li>
                        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#mediatorpatternjavascript'>中介者模式（Mediator）</a></li>
                        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#observerpatternjavascript'>观察者模式（Observer）</a></li>
                    </ul>
                </section>

                <p class="source">
                    行为设计模式
                </p>

                <h3>框架模式（MV* Patterns）</h3>

                <section class="txt">
                    底下有一些 JavaScript 传统 MVC 模式及从中衍生出来的模式。
                </section>

                <section class="txt">
                    <ul>
                        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#detailmvc'>MVC Pattern</a></li>
                        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#detailmvp'>MVP Pattern</a></li>
                        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#detailmvvm'>MVVM Pattern</a></li>
                    </ul>
                </section>
