<h3>컨벤션 (코드 작성 규칙)</h3>

<p>
    다른 언어들과 마찬가지로 JavaScript에도 다양한 코딩 스타일 규칙이 있습니다. 아마도 가장 많은 이들이 사용하고, 추천하는 것은 <a target="_blank" href="http://google-styleguide.googlecode.com/svn/trunk/javascriptguide.xml">구글 JavaScript 코드 스타일 규칙</a>일 것입니다. 하지만 우리는 당신에게 <a target="_blank" href="https://github.com/rwldrn/idiomatic.js/">Idiomatic.js</a> 를 읽어볼 것을 추천합니다.
</p>

<h3>린팅 (코드 스타일 검사)</h3>

<p>
    요즘 JavaScript 코드 검사를 위한 가장 좋은 도구는 <a target="_blank" href="http://www.jshint.com/">JSHint</a>입니다. 우리는 당신이 어디서든지 린트 도구로 코드 스타일과 패턴 점검을 하는 것을 추천합니다.
</p>
