<h3>JavaScript란?</h3>

<p>
    Created by Netscape in 1995 as an extension of HTML for Netscape Navigator 2.0, JavaScript had as its main function the manipulation of HTML documents and form validation.

    이 이름이 지금처럼 유명해지기 전에는, JavaScript는 Mocha라고 불렸습니다. 베타 릴리즈 때는 공식적으로 LiveScript라 불리었고, Sun Microsystems에 의해 정식 릴리즈 되었을 때는 우리가 지금 알고 있는 이름으로 변경되었습니다.

    비슷한 이름 때문에 Java와 JavaScriptp를 혼동하는 사람들이 많습니다. 두 언어 모두 렉시컬 구조를 가지고 있지만 같은 언어는 아닙니다.

    C, C#, Java와는 다르게, JavaScript는 인터프리터 언어입니다. 인터프리터가 필요하다는 뜻인데, JavaScript의 경우 인터프리터는 브라우저입니다.
</p>

<h3>CURRENT VERSION</h3>

<p>
    The JavaScript standard is ECMAScript. As of 2012, all modern browsers fully support ECMAScript 5.1. Older browsers support at least ECMAScript 3. A 6th major revision of the standard is being worked on.
</p>

<p>
    A good reference to versions, references and news about JavaScript can be found at the <a target="_blank" href="https://developer.mozilla.org/en-US/docs/JavaScript">Mozilla Developer Network</a>.
</p>

<h3>DOM</h3>

<p>
    The Document Object Model (DOM) is an API for HTML and XML documents. It provides a structural representation of the document, enabling you to modify its content and visual presentation by using a scripting language such as JavaScript. See more at <a target="_blank" href="https://developer.mozilla.org/en-US/docs/DOM">Mozilla Developer Network - DOM</a>.
</p>
