               <p style="width: 100%; text-align: center; box-sizing: border-box;">
                    <a rel="license" target="_blank" href="http://creativecommons.org/licenses/by-nc/4.0/">
                        <img alt="Creative Commons License" style="border-width: 0;" src="http://i.creativecommons.org/l/by-nc/4.0/88x31.png" />
                    </a>
                    <br/>
                    <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">JavaScript: The Right Way</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="https://github.com/gnuwilliam" target="_blank" property="cc:attributionName" rel="cc:attributionURL">William Oliveira</a>.<br />이 저작물은 <a target="_blank" rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">크리에이티브 커먼즈 저작자표시-비영리-동일조건변경허락 4.0 국제 라이선스</a>에 따라 이용할 수 있습니다.<br />원문: <a xmlns:dct="http://purl.org/dc/terms/" href="http://jstherightway.org" rel="dct:source">http://jstherightway.org</a>.
                </p>
