
                <h3>Beschreibung</h3>

                <p>
                    Während JavaScript einige exklusive Entwurfsmuster besitzt, können viele klassische Entwurfsmuster ebenfalls implementiert werden.
                </p>

                <p>
                    Ein guter Weg, mehr darüber zu erfahren, ist <a target="_blank" href="https://twitter.com/addyosmani">Addy Osmani</a>’s frei erhältliches Buch <a target="_blank" href="http://addyosmani.com/resources/essentialjsdesignpatterns/book/">"Learning JavaScript Design Patterns"</a>, auf dem die meisten der unten aufgelisteten Links basieren.
                </p>

                <h3>Entwurfsmuster</h3>

                <section class="txt">
                    <ul>
                        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#factorypatternjavascript'>Factory</a></li>
                        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#prototypepatternjavascript'>Prototype</a></li>
                        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#mixinpatternjavascript'>Mixin</a></li>
                        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#singletonpatternjavascript'>Singleton</a></li>
                    </ul>
                </section>

                <p class="source">
                    Creational Design Patterns
                </p>

                <section class="txt">
                    <ul>
                        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#wrapperpatternjquery'>Adapter</a></li>
                        <li><a target="_blank" href='http://www.joezimjs.com/javascript/javascript-design-patterns-bridge/'>Bridge</a></li>
                        <li><a target="_blank" href='http://www.joezimjs.com/javascript/javascript-design-patterns-composite/'>Composite</a></li>
                        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#decoratorpatternjavascript'>Decorator</a></li>
                        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#facadepatternjavascript'>Facade</a></li>
                        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#detailflyweight'>Flyweight</a></li>
                        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#modulepatternjavascript'>Module</a></li>
                        <li><a target="_blank" href='http://www.joezimjs.com/javascript/javascript-design-patterns-proxy/'>Proxy</a></li>
                        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#revealingmodulepatternjavascript'>Revealing Module</a></li>
                    </ul>
                </section>

                <p class="source">
                    Structural Design Patterns
                </p>

                <section class="txt">
                    <ul>
                        <li><a target="_blank" href='http://www.joezimjs.com/javascript/javascript-design-patterns-chain-of-responsibility/'>Chain of Responsibility</a></li>
                        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#commandpatternjavascript'>Command</a></li>
                        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#mediatorpatternjavascript'>Mediator</a></li>
                        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#observerpatternjavascript'>Observer</a></li>
                    </ul>
                </section>

                <p class="source">
                    Behavioral Design Patterns
                </p>

                <h3>MV*-Patterns</h3>

                <section class="txt">
                    Es gibt einige Implementierungen des traditionellen MVC-Patterns und einige Abwandlungen dessen in JavaScript.
                </section>

                <section class="txt">
                    <ul>
                        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#detailmvc'>MVC Pattern</a></li>
                        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#detailmvp'>MVP Pattern</a></li>
                        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#detailmvvm'>MVVM Pattern</a></li>
                    </ul>
                </section>
