<h3>عن</h3>

<p>
    أُنشِئت من طرف ناتسكوب في سنة 1995 بصفتها ملحقا للـHTML من أجل متصفح ناتسكوب 2.0، كان لجافاسكريبت وظيفة رئيسة هي معالجة ملفات HTML والتَّحقق من النماذج.

    قبل اكتساب هذا الاسم المشهور جدا هذه الأيام، كانت جافاسكريبت تسمى موشا. عندما شحنت لأول مرة إصدارات بيتا، كانت تسمى رسميا لايفسكريبت، وأخيرا، عندما تم إصدارها من طرف Sun Microsystems، كانت قد صبغت بالاسم الذي تُعرف به اليوم.

    بسبب التشابه في الاسماء، خلط الناس جافاسكريبت بجافا. مع أن كليهما لديه بنية معجمية للبرمجة، فإنهما ليسا نفس اللغة.

    مختلفة عن C، C# وجافا، جافاسكريبت هي لغة مُفَسّرة (interpreted language). هذا يعني أنها تحتاج «مفسّرا» (interpreter). في حالة جافاسكريبت، المُفسِّر هو المتصفِّح.
</p>

<h3>النسخة الحالية</h3>

<p>
    معيار جافاسكريبت هي إيكماسكريبت (ECMAScript). اعتبارا من 2012، كل المتصفحات الحديثة تدعم بشكل كامل  إيكماسكريبت 5.1. المتصفحات القديمة تدعم على الأقل إيكماسكريبت 3. اعتبارا من 2015 تمت الموافقة على مواصفات ES6/ES2015. بعد دورة الإصدار الجديدة، تم اعتماد ES7/ES2016 في شهر يونيو/حزيران (جوان أو الشهر السادس من شهور السنة الشمسية) 2016. ألق نظرة على مواصفة لغة إيكماسكريبت 2016 على <a target="_blank" href="http://www.ecma-international.org/ecma-262/7.0/index.html">Ecma International</a>.
</p>

<p>
    A good reference to versions, references and news about JavaScript can be found at the <a target="_blank" href="https://developer.mozilla.org/en-US/docs/JavaScript">Mozilla Developer Network</a>.
</p>

<h3>الـDOM</h3>

<p>
    The Document Object Model (DOM) is an API for HTML and XML documents. It provides a structural representation of the document, enabling you to modify its content and visual presentation by using a scripting language such as JavaScript. See more at <a target="_blank" href="https://developer.mozilla.org/en-US/docs/DOM">Mozilla Developer Network - DOM</a>.
</p>
