<h3>Convenções</h3>

<p>
    Assim como todas as linguagens, JavaScript tem muitos guias de estilo de código. Talvez o mais usado e recomendado seja o <a target="_blank" href="http://google-styleguide.googlecode.com/svn/trunk/javascriptguide.xml">Google Code Style Guide for JavaScript</a>, mas recomendamos a leitura do <a target="_blank" href="https://github.com/rwaldron/idiomatic.js/tree/master/translations/pt_BR">Idiomatic.js</a>.
</p>

<h3>Analise de código (<i>Linting</i>)</h3>

<p>
    Nos dias de hoje a melhor ferramenta para analise de código em JavaScript é o <a target="_blank" href="http://www.jshint.com/">JSHint</a>. Nós recomendamos que sempre que possível você verifique o seu estilo de código e padrões com uma ferramenta de analise (<i>Lint Tool</i>).
</p>
