<h3>SOBRE</h3>

<p>
    Criado pela Netscape em 1995 como uma extensão do HTML para o navegador Netscape Navigator 2.0, o JavaScript teve como função principal a manipulação de documentos HTML e a validação de formulários.

    Antes de ganhar seu nome tão famoso hoje em dia, o JavaScript foi chamado de Mocha. Quando saiu pela primeira vez em uma versão beta foi chamado oficialmente de LiveScript e finalmente quando foi liberado pela Sun Microsystems foi batizado pelo nome que hoje nós conhecemos.

    Devido a similaridade de nomes, algumas pessoas confundem o JavaScript com o Java. Embora ambos tenham a estrutura léxica da programação, elas não são a mesma linguagem.

    Diferente do C, C# e do Java, o JavaScript é uma linguagem interpretada. Isso significa que ele precisa de um "interpretador". No caso do JavaScript, o interpretador é o navegador.
</p>

<h3>VERSÃO ATUAL</h3>

<p>
    O padrão do JavaScript é o ECMAScript. Em 2012 todo os navegadores modernos passaram a dar suporte ao ECMAScript 5.1. Navegadores antigos suportam pelo menos o ECMAScript 3. Uma sexta revisão desses padrões esta em andamento.
</p>

<p>
    Uma boa referência para versões, referências e novidades sobre o JavaScript pode ser encontrada no 
    <a target="_blank" href="https://developer.mozilla.org/pt-BR/docs/JavaScript">Mozilla Developer Network</a>.
</p>

<h3>O DOM</h3>

<p>
    O Modelo de Objetos de Documentos é uma API para documentos HTML e XML. Ele fornece uma representação estrutural do documento, permitindo que você modifique seu conteúdo e sua apresentação visual usando linguagem de scripts como o JavaScript. Leia mais em <a target="_blank" href="https://developer.mozilla.org/pt-BR/docs/DOM/">Mozilla Developer Network - Referência do DOM</a>.
</p>
