<h1>Ei, você!</h1>

<p>
    Esse é um guia com a intenção de apresentar novos desenvolvedores ao JavaScript e ajudar desenvolvedores experientes aprenderem mais sobre as melhores práticas.
</p>

<p>
    Apesar do nome, esse guia não significa necessariamente "o único caminho" ao JavaScript
</p>

<p>
    Nós apenas juntamos todos os artigos, dicas e artimanhas dos desenvolvedores top e colocamos aqui. Uma vez que esse material vem de pessoas excepcionais, nós podemos dizer que é "a forma certa", ou a melhor forma de fazer.
</p>
