---
layout: default
description: "A quick reference to best practices for writing JavaScript -- links to code patterns and tutorials from around the web"
lang: pt-BR
---

{% capture welcome_content %}{% include welcome.md %}{% endcapture %}
{{ welcome_content|markdownify }}

{% capture backtotop %}[Back to top](#top){.top}{% endcapture %}
{% for post in site.posts reversed %}
    {% if post.isChild != true and loop.first != true %}
    {{ backtotop|markdownify }}
    {% endif %}
    {{ post.content }}
{% endfor %}
{{ backtotop|markdownify }}
