<h3>Richtlinien</h3>

<p>
    Auch JavaScript hat, so wie jede Programmiersprache, viele unterschiedliche Leitfäden für den Code-Style. Der womöglich am meisten verwendete und weiterempfohlene ist der <a target="_blank" href="http://google-styleguide.googlecode.com/svn/trunk/javascriptguide.xml">Google Code-Style-Guide für JavaScript</a>, aber wir empfehlen dir <a target="_blank" href="https://github.com/rwldrn/idiomatic.js/">Idiomatic.js</a> zu lesen.
</p>

<h3>Code-Analyse (Linting)</h3>

<p>
    Mittlerweile hat sich als Tool für die Code-Analyse (Linting) von JavaScript-Code <a target="_blank" href="http://www.jshint.com/">JSHint</a> bewährt. Wir empfehlen euch, euren Code-Style und Entwurfsmuster durchgehend mit einem Lint-Tool zu überprüfen.
</p>
