<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% if page.title %}{{ page.title }} - {% endif %}JS: The Right Way</title>
        <meta property="og:image" content="http://www.jstherightway.com/images/og-logo.png">
        <meta property="og:title" content="JS: The Right Way">
        <meta property="og:site_name" content="JS: The Right Way">
        <meta name="description" property="og:description" content="{{ page.description }}">
        <meta property="og:url" content="http://www.jstherightway.com">
        <meta property="og:type" content="website">

        <meta name="robots" content="index,follow,archive">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alfa+Slab+One|Droid+Serif:400,700">
        <link rel="stylesheet" href="styles/all.css">
        <link rel="stylesheet" href="styles/syntax.css">
    </head>
    <body>
        <nav class="site-navigation">
            <ul>
                <li><a href="/#site-header">Welcome</a></li>
                {% assign lastIsChild = false %}
                {% for post in site.posts reversed %}
                    {% if post.isChild and lastIsChild != true %}<ul>{% endif %}
                    {% if lastIsChild and post.isChild != true %}</ul>{% endif %}
                    <li><a href="/#{{ post.title | downcase | replace:'*','' | replace:' ','_' | replace:'(','' | replace:')','' | replace:'.','' | replace:'-','' }}">{{ post.title }}</a>
                    {% assign lastIsChild = post.isChild %}
                {% endfor %}
            </ul>
            <li><a href="/#site-footer">Credits</a></li>
        </nav>
        <div class="site-content">

            <a class="fork-me" href="https://github.com/braziljs/js-the-right-way">
                <img src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"
                alt="Fork us on GitHub!">
            </a>

            <header class="site-header" id="site-header">
                <hgroup>
                    <h1 class="site-title"><a href="/">JavaScript</a></h1>
                    <h2 class="site-slogan">The Right Way.</h2>
                </hgroup>
                <div class="social" id="social">
                    <div class="social-share">
                        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.jstherightway.com/" data-size="medium" data-hashtags="js">Tweet</a>
                    </div>
                    <div class="social-share">
                        <div class="g-plusone" data-href="http://jstherightway.com" data-size="medium" data-annotation="bubble" data-width="300"></div>
                    </div>
                    <div class="social-share">
                        <div class="fb-like" data-href="http://jstherightway.com" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
                    </div>
                </div>
            </header>
            {{ content }}
            <footer class="site-footer" id="site-footer">
                <h2 class="epsilon">Created and maintained by</h2>
                <ul>
                    <li><a href="http://twitter.com/gnuwilliam">William Oliveira</a></li>
                </ul>

                <h2 class="epsilon">Source</h2>
                <ul>
                    <a href="https://developer.mozilla.org/docs/javascript" target="_blank">Mozilla Foundation</a>
                </ul>

				<h2 class="epsilon">Contributors</h2>
				<div id="contributors"></div>

                <h2 class="epsilon">Support</h2>
                <ul class="mbd">
                    <li>
                        <a href="http://www.apiki.com"><img src="http://frontinbh.com.br/assets/imagens/apoiadores/apiki.png" target="_blank" title="Apiki" /></a>
                        <a href="http://braziljs.org" target="_blank"><img style="margin-top: 3px;" src="images/braziljs_logo.png" title="BrazilJS Foundation" /></a>
                        <a href="http://imasters.com.br" target="_blank"><img style="margin-left: 7px;" src="images/imasters_logo.png" title="iMasters"></a>
                    </li>
                </ul>

                <p>
                    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a><br />
                    <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">JS: The Right Way</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://github.com/gnuwilliam" property="cc:attributionName" rel="cc:">William Oliveira</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.
                <p>
                    Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="http://jstherightway.com" rel="dct:source">http://jstherightway.com</a>.
                </p>
                <p>
                    Inspired on <a href="http://twitter.com/codeguy">Josh Lockhart's</a> project <a href="http://phptherightway.com">PHP: The Right Way</a>
                </p>
                <p class="build-date">Last update: {{ site.time }}</p>
            </footer>
        </div>
        <div id="fb-root"></div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/scripts/jquery-1.8.0.min.js"><\/script>')</script>
        <script src="/scripts/setup.js"></script>
        <script>
            function asyncScriptLoad( url, id ) {
                var js, fjs = document.getElementsByTagName( 'script' )[0];
                if ( document.getElementById( id ) ) {
                    return;
                }
                js = document.createElement( 'script' );
                js.id = id;
                js.src = url;
                fjs.parentNode.insertBefore( js, fjs );
            }
            var _gaq = [['_setAccount', 'UA-33927105-1'], ['_trackPageview']];
            asyncScriptLoad( '//www.google-analytics.com/ga.js', 'google-analytics' );
            asyncScriptLoad( '//connect.facebook.net/en_US/all.js#xfbml=1', 'facebook-jssdk' );
            asyncScriptLoad( '//platform.twitter.com/widgets.js', 'twitter-wjs' );
            asyncScriptLoad( 'https://apis.google.com/js/plusone.js', 'google-plusone' );
        </script>
    </body>
</html>
