<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8"/>
        <title>{% if page.title %}{{ page.title }} - {% endif %}JS: The Right Way</title>
        <meta name="description" content="{{ page.description }}"/>
        <meta name="robots" content="index,follow,archive"/>
        <meta property="og:image" content="http://www.jstherightway.com/images/og-logo.png"/>
        <meta property="og:title" content="JS: The Right Way"/>
        <meta property="og:description" content="A quickly reference to the best practices of JavaScript, code patterns and tutorials links over the web."/>
        <meta property="og:url" content="http://www.jstherightway.com"/>
        <meta property="og:site_name" content="JS: The Right Way"/>
        <meta property="og:type" content="website"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <link href='http://fonts.googleapis.com/css?family=Alfa+Slab+One|Droid+Serif:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="styles/all.css"/>
        <link rel="stylesheet" href="styles/syntax.css"/>
    </head>
    <body>
        <header class="interior-site-header">
            <div class="site-title"><a href="/">JS</a></div>
            <div class="site-slogan">The Right Way.</div>
            <a class="btn btn-h" href="/">Return to Main Page</a>
            <a class="fork-me" href="https://github.com/braziljs/js-the-right-way">
                <img src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"
                alt="Fork me on GitHub">
            </a>
        </header>
        <div class="interior-site-content">
            <div class="pbh"><em>You are reading extended content about&hellip;</em></div>
            {{ content }}
            <footer class="site-footer" id="site-footer"></footer>
        </div>
    </body>
</html>
