               <p style="width: 100%; text-align: center; box-sizing: border-box;">
                    <a rel="license" target="_blank" href="http://creativecommons.org/licenses/by-nc/4.0/">
                        <img alt="Creative Commons License" style="border-width: 0;" src="http://i.creativecommons.org/l/by-nc/4.0/88x31.png" />
                    </a>
                    <br/>
                    <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">JavaScript: A forma certa</span> por <a xmlns:cc="http://creativecommons.org/ns#" href="https://github.com/gnuwilliam" target="_blank" property="cc:attributionName" rel="cc:attributionURL">William Oliveira</a>.<br />Licenciado sobre <a target="_blank" rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/deed.pt_BR">Creative Commons Atribuição-NãoComercial 4.0 Internacional</a>.<br />Baseado no trabalho em <a xmlns:dct="http://purl.org/dc/terms/" href="http://jstherightway.org" rel="dct:source">http://jstherightway.org</a>.
                </p>
